:root {
    --section-padding: 75px;
    --secondary-color: #131516
}

header {
    padding-top: var(--section-padding);
}

header {
    padding-bottom: var(--section-padding);
    margin-bottom: 50px;
}

.section {
    margin-bottom: 50px;
    color: white;
}

