body {
    font-family: "Lato", sans-serif;
    color: black;
    margin: 0;
    background: linear-gradient(to bottom, #fd6efd, #fc81e6, #f809fa, #00f197, #ff7050);
    /* setting gardiant colors for background  */
    background-attachment: fixed;
}
h1 {
    color: #2c3e50;
    text-decoration: none;
    font-weight: 700;
}
p {
    color: black;
    font-size: 16px;
    font-weight: bold;
}
ul {
    padding: 0;
    color: black;
    margin: 0;
    font-weight: bold;
    list-style: none;
}

a {
    color: black
}

a:hover {
    color: #601cfc;
    text-decoration: none;
}

footer {
    border-top: 1px solid black;
}

.footer {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 500px) {
    .contact-us {
        display: none;
    } 
}
