:root {
    --main-color: rgb(89, 86, 83);
}

body {
    font-family: "Lato", sans-serif;
    background: var(--main-color);
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: black
}

a:hover {
    color: black;
    text-decoration: none;
}

footer {
    border-top: 1px solid black;
    padding-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
